<?xml version="1.0"?>
<model>
  <name>mini_quad</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>habibourakash</name>
    <email>your@email.com</email>
  </author>

  <description>
    Simple quadcopter model for minzaniX flight controller simulation.
    Includes IMU sensor and motor plugins.
  </description>
</model>
